@using MyWebApps.Models
@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

<h1>List of Categories</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col">Order Name</th>
      <th scope="col">Display Order</th>
    </tr>
  </thead>
  <tbody class="table-hover">
      @foreach(var item in Model)
        {
        <tr>
            <th scope="row">@item.Name</th>
            <td>@item.DisplayOrder</td>
        </tr>            
        }
  </tbody>
</table>